*{
  margin; 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  Margin-right: 20px;
}
a{
  text-decoration: none;
  color: #0d73d8f8;
}
p{
  color:#6e767ef8;
}
.container{
  max-width: 1300px;
  margin:auto;
  padding-right: 25px;
  padding-right:25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.btn:hover{
  background: #a51073; 
}
.header{
  background: radial-gradient(#ffffff);
}
.header .row{
margin-top: 70px;
}
.categories{
  margin: 70px 0;
}
.rating .fa{
  color:#FFD700;
}

.title{
  background: (#a1c4fd, #c2e9fb);
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60ox;
  color: #2c2d2ef8;
}
.title::after{
  content:'';
  background: #01070f,
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*----------fetured products----------*/

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5;
}
.col-4 img{
  width: 100%;
}
.col-4 p{
  font-size: 14px;
}

.col-4:hover{
  transform: translateY(-5px);
}
.col-4{
  flex-basis: 150%;
  min-width: 300px;
}
.col-4 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-4 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-4 h22{
  font-size: 35px;
  line-height: 35px;
  margin: 25px 0;
}
.col-4:hover{
  transform: translateY(-60px);
}
.col-4{
  cursor: pointer;
  transition: transform 0.4s;
}
.col-4.offer-img{
  padding: 550px;
}

/*----------offer----------*/
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  width: 400%;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 h22{
  font-size: 35px;
  line-height: 35px;
  margin: 25px 0;
}
.col-2:hover{
  transform: translateY(-60px);
}
.col-2{
  cursor: pointer;
  transition: transform 0.4s;
}
.btn{
  display: inline-block;
  background: #1459db;
  color: #fff;
  padding: 8px 30px;
  margin:30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.offer{
  background: radial-gradient(#fff);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2.offer-img{
  padding: 550px;
}
small{
  color:#2c2d2ef8;
}
/*-----------testimonial---------*/
.col-3{
  flex-basis: 60%;
  min-width: 780px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 120%;
}
.col-3:hover{
  transform: translateY(-10px);
}
.col-3{
  cursor: pointer;
  transition: transform 0.9s;}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.testimonial{
  padding-top: 100px;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 0px;
  box-shadow: 0 0 20px 10px rgb(38, 28, 180);
  cursor: pointer;
  transition: transform 0.9s;
}
.testimonial .col-3 img{
  width: 250px;
  margin-top: 20px;
  border-radius: 20%;
}
.testimonial .col-3:hover{
  transform: translateY(-100px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3{
  font-weight: 600;
  color: #555;
  font-size: 46px;
}

/*----------- BRANDS ----------*/
.brands{
  margin: 100px;
}
.col-5{
  width: 260px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0);
}
/*--------- footer --------*/
.footer{
  background: #03015cfa;
  color: #ffffff;
  font-size: 22px;
  padding: 60px 0 20;
}
.footer p{
  color: #ffffff;
}
.footer h2{
  color: #f7f2f2;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-7, .footer-8, .footer-9[
  min-width: 250px;
  margin-bottom: 20px;
]
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 350px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4, .footer-7, .footer-8, .footer-9{
  flex-basis: 92%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 60px;
}
.app-logo img{
  width: 340px;
}
.footer hr{
  border: none;
  background: #ffffff;
  height: 4px;
  margin: 20px 0;
}
.CopyRight©{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
/*--------- media query for menu -------*/

@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;

  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/*-----------loginforum---------*/
.col-7{
  flex-basis: 60%;
  min-width: 780px;
  margin-bottom: 30px;
}
.col-7 img{
  width: 120%;
}
.col-7:hover{
  transform: translateY(-10px);
}

.col-7{
  cursor: pointer;
  transition: transform 0.9s;}

.loginforum{
  padding-top: 100px;
  background: radial-gradient(#f3e7e9,#e3eeff);
  margin-top: 0px;
  padding: 30px 0;
}
.loginforum .col-7{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 40px 0px rgba(0,0,0,1);
  cursor: pointer;
  transition: transform 0.9s;
}
input{
  position: center;
  width: 90%;
  outline: none;
  font-size: 1.2em;
  padding: 0 30px;
  line-height: 100px;
  border-radius: 90px;
  border: 6px solid #03045e;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}
.loginforum .col-7 img{
  width: 350px;
  margin-top: 20px;
  border-radius: 50%;
}
.loginforum .col-7:hover{
  transform: translateY(-100px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #2c088f;
}
.col-7 p{
  font-size: 52px;
  margin: 12px 0;
  color: #4c2f9b;
}
.loginforum .col-7{
  font-weight: 600;
  color: #555;
  font-size: 56px;
}
/*-----------header2---------*/
.header2{
  background: radial-gradient(#FFF);
}
.header2 .row2{
margin-top: -25px;
}
/*-----------dashboardforum---------*/
.col-8{
  flex-basis: 60%;
  min-width: 780px;
  margin-bottom: 30px;
}
.col-8 img{
  width: 120%;
}
.col-8:hover{
  transform: translateY(-10px);
}

.col-8{
  cursor: pointer;
  transition: transform 0.9s;}

.dashboardforum .col-8{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 10px rgb(38, 28, 180);
  cursor: pointer;
  transition: transform 0.9s;
  font-size: 36px;
  font-weight: 600;
}
.dashboardforum .col-8 img{
  width: 50%;
  margin-top: 0px;
  border-radius: 0%;
}
.dashboardforum{
  padding-top: 0px;
}
.dashboardforum .col-8:hover{
  transform: translateY(-20px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #2c088f;
}
.row1{
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  justify-content: space-around;
}
.small-container1{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-9 p{
  font-size: 12px;
  margin: 12px 0;
  color: #3f10c2;
}
.Dashboardopt .col-9{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.col-9{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 70px;
  margin-top: 70px;
}
.col-9 img{
  width: 120%;
}
.col-9:hover{
  transform: translateY(-10px);
}

.col-9{
  cursor: pointer;
  transition: transform 0.5s;}

/*--------Dashboardopt------*/
.box{
  background: #fdfbfb, #ebedee;
  padding: 40px 20px;
  box-shadow: 0 0 20px 1px rgb(94, 155, 104);
  cursor: pointer;
  transition: transform 0.5s;
}
.btn2{
  display: inline-block;
  background: #5d695c;
  color: #fff;
  padding: 8px 30px;
  margin:30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn2:hover{
  background: #092ae7; 
}
.Dashboardopt .col-9{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgb(65, 122, 87);
  cursor: pointer;
  transition: transform 0.5s;
}
.Dashboardopt .col-9 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.Dashboardopt .col-9:hover{
  transform: translateY(-20px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #2c088f;
}
.col-9 p{
  font-size: 20px;
  margin: 12px 0;
  color: #000702;
}
.Dashboardopt .col-9{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
/*-----------COL-10---------*/
.col-10{
  flex-basis: 50%;
  min-width: 300px;
}
.col-10 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-10 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-10:hover{
  transform: translateY(-10px);
}
.col-10{
  cursor: pointer;
    transition: transform 1s;
  }
  .col-10.offer-img{
    padding: 50px;
  }
  /*----------letters hs---------*/
  p1{
    color:#000000f8;
  }
  
  /*---------create any dropdowns---------*/
body4{
    font-family: Helvetica, sans-serif;
    background: transparent;
    min-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
.dropdown {
  min-width: 12em;
  position: center;
  margin: 2em;
  margin-top: auto;
}
.dropdown *{
  box-sizing:border-box;
}
.select {
  background: transparent;
  color: #7a6d6d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b; solid;
  border-radius: 5em;
  padding: 0.5em;
  cursor: pointer;
  transition: background 0.3s;
}

/*------clicked styles java-----*/
.selected-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}
.select:hover {
  background: transparent;
  border: 5px #0e255a solid;
}
.caret {
  width: 0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
/*------rotate styles-----*/
.caret-rotate {
  transform: rotate(180deg);
}
.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #fffffff8;
  border: 10px #3363d3 solid;
  box-shadow: 0 5em 9em rgba(0,0,0,0.2);
  border-radius: 0.5em;
  color: #0f0f13;
  position: absolute;
  top: 12em;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover {
  background: #5322c7;
}
/*------active styles java-----*/
.active {
  background: #e6e0e0;
}
/*------open styles java-----*/
.menu-open {
  display: block;
  opacity: 1;
}
/*------SEND BUTTON-----*/
.btn6{
  display: inline-block;
  background: #010a5e;
  color: #fff;
  padding: 8px 30px;
  margin:30px 0;
  border-radius: 90px;
  transition: background 0.5s;
  border: 10px #051e58 solid;
  position: left;
  top: 12em;
  width: 70%;
  font-weight: bold;
  line-height: 80px;
}
.btn6:hover{
  background: #09b7ec; 
}
.col-13{
  flex-basis: 50%;
  min-width: 300px;
  
}
.col-13 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-13 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 h22{
  font-size: 35px;
  line-height: 35px;
  margin: 25px 0;
}
.col-13:hover{
  transform: translateY(-40px);
}
.col-13{
  cursor: pointer;
  transition: transform 0.9s;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/*------back/home BUTTON-----*/
.btn8{
  display: inline-block;
  background: #1459db;
  color: #fff;
  padding: 8px 30px;
  margin:30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  border: 10px #ffffff solid;
  position: left;
  width: 60%;
  outline: none;
  font-size: 3.2em;
  font-weight: bold;
  padding: 0 20px;
  line-height: 80px;
}

.btn8:hover{
  background: #09b7ec; 
}
/*------popup-----*/
.container22{
  flex-basis: 50%;
  min-width: 300px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn55{
  padding: 10px 10px;
  background: #acb3ad;
  border: 8px #051e58 solid;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 62px;
  font-weight: 500;
  border-radius: 30px;
  position: left;
  top: 12em;
  margin:50px 0;
}
.popup1{
  width: 850px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 230px 230px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup1{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup1 img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 42px 15px rgba(0, 0, 0, 0.2);
}
.popup1 h2{
  font-size: 68px;
  font-weight: 500 bold;
  margin: 30px 0 10px;
}
.popup1 button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 58px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 35px 15px rgba(0, 0, 0, 0.2);
}

/*--------- SECOND FOOTER-------*/
.footer2{
  background: #f3f0f0;
  color: #000000;
  font-size: 22px;
  padding: 60px 0 20;
  font-weight: bold;
}
.footer2 p{
  color: #000000;
  font-weight: lighter;
  font-size: 30px;
}
.footer2 h2{
  color: #001749;
  margin-bottom: 20px;
  font-size: 70px;
}
.footer2-col-1, .footer2-col-2, .footer2-col-3, .footer2-col-4, .footer2-7, .footer2-8, .footer2-9[
  min-width: 250px;
  margin-bottom: 20px;
]
.footer2-col-1{
  flex-basis: 30%;
}
.footer2-col-2{
  flex: 1;
  text-align: center;
}
.footer2-col-2 img{
  width: 350px;
  margin-bottom: 20px;
}
.footer2-col-3, .footer2-col-4, .footer2-7, .footer2-8, .footer2-9{
  flex-basis: 92%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top: 60px;
}
.app-logo img{
  width: 340px;
}
.footer2 hr{
  border: none;
  background: #ffffff;
  height: 4px;
  margin: 20px 0;
}
.CopyRight©{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
/*--------- media query for menu -------*/

@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;

  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}
/*--------- button H-------*/
h33{
  color: #02074e;
  font-weight: bold;
  font-size: 74px;
}
h3{
  color: #02074e;
  font-weight: bold;
  font-size: 94px;
}
h4{
  color: #190638;
  font-weight: bold;
}
h5{
  color: #1fe70c;
  font-weight: bold;
}
Bh2{
  color: #3b0ce7;
  font-weight: bold;
}
h22{
  color: #2c2a2a;
  font-weight: bold;
}

/*--------- input zone-------*/

.container1 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.otp-inputs {
  display: flex;
  justify-content: space-between;
  
}
.otp-inputs input[type="text"] {
  width: 100px;
  height: 100px;
  margin: 0 8px;
  border: 2px solid #34495e;
  border-radius: 10px;
  background-color: transparent;
  font-size: 150%;
  text-align: center;
  color: #1d0250;
  transition: all 0.3s ease-in-out;
}
.otp-inputs input[type="text"]:focus {
  border-color: #0f11a3;
  background-color: transparent;
  box-shadow: 0 0 20px rgba(57, 187, 238, 0.5);
  outline: none;
  transform: scale(1.1);
}
.otp-inputs input[type="text"]:hover {
  border-color: #1abc9c;
  background-color: #feffff;
}

body{
  color: rgb(0, 0, 0);
}